.login-body{
    background-color: #F5F6F9;
    margin-left: 11%;
}

.main{
    display: flex;
    flex-direction: row;
    height: 452px;
    width:954px;
    box-shadow: -1px 0px 10px 0px #e1e3ea;
    -moz-box-shadow: -1px -1px 10px 0px #e1e3ea;
    -webkit-box-shadow: -1px -1px 10px 0px #e1e3ea;
    -o-box-shadow: -1px -1px 10px 0px #e1e3ea;
    border: none;
}

.container{
    height: 100%;
    padding-top: 7%;
}

.left{
    height: 451px;
    width: 401px;
    display: flex;
    justify-content: center;
}

.content{
    height: 374px;
    width: 340px;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
    width: 340px;
    height: 120px;
    margin-bottom: 30px;
}

.right{
    background-image: url("../resources/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 451px;
    width: 553px;
}

.right .overlay{
    background-color: #6CA1BB;
    height: 452px;
    width: 553px;
    margin-top: -4%;
    margin-left: -3.9%;
    opacity: 0.9;
}

.text{
    padding-top: 30%;
    padding-left: 3%;
}

.text-content {
    width: 340px;
    height: 90px;
    display: flex;
    justify-content: center;
}

.img-circle{
    border-radius: 50%;
}

.lead{
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #5E6773;
    font-family: sans-serif,roboto;
}

.form-group{
    margin-bottom: 15px;
}

.form-control {
    box-shadow: none;
    border-radius: 2px;
    border-color: #e1e3ea;
    background-color: #fcfcfc;
    color: #5e6773;
}

.content-checkbox {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-color: #6E6E6E;
    margin-bottom: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    border-color: #6E6E6E;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border-color: #6E6E6E;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border: 1px solid #6E6E6E;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 20px;
    left: -1px;
    bottom: 0px;
    background-color: white;
    border-color: #6E6E6E;
    transition: .2s;
}

input:checked + .slider {
    background-color:  #45AEEF;
    border: none;
}

input:checked + .slider:before {
    transform: translateX(22px);
    border-color: #6E6E6E;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    border: 1px solid #6E6E6E;
}

.btn{
    border-radius: 3px;
    height: 12%;
}

.btn-primary {
    background-color: #00AAFF;
    border-color: #00a0f0;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 28px;
    line-height: 0;
}

.helper-text {
    font-size: 13px;
    font-family: sans-serif;
    color: #a0aeba;
}

.forgot-link{
    color: #00aaff;
    cursor: pointer;
}

.forgot-div {
    text-align: center;
    margin-top: 6%;
}

.login-message {
    color: #e32525;
    width: 100%;
    height: 5%;
}